@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600"); /*changing the defaults*/
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*background-color: #1088FF;*/
    font: 14px/20px Arial, Sans-Serif;
    color: #555;
    margin: 0;
    line-height: 1.5;
    text-align: left;
}

.body {
    margin: 0 auto;
    width: 100%;
    clear: both;
}

h1 {
    text-align: center;
    font-size: 180%;
    line-height: 120%;
    padding: 5% 0;
}

/*working on links*/
a {
    text-decoration: none;
}

a:link, a:visited {
    color: #f0f0f0;
}

a:hover, a:active {
    /*background-color: #0600ff;*/
    color: deeppink;
}

#menu-icon{
    display: none;
    width: 40px;
    height: 40px;
    /*background:url(../images/icons/menu-icon.png) center;*/
}
#menu-icon img{
    width: 40px;
    height: 40px;
    border-radius: 16px;
}
a:hover#menu-icon{
    border-radius: 4px 4px 0 0;
}
/* style header */
header {
    background: #08447F;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 0.9;
}

#logo {
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin: 10px;
    float: left;
    width: 200px;
    font-size: 150%;
    text-align: center;
    height: 50px;
}

nav {
    float: right;
    padding: 9px 20px 0;

}

ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    float: left;
    padding: 10px;
    font-family: Impact, Charcoal, sans-serif;
}

.current {
    color: green;
    text-decoration: underline;
}
.emphatic-value{
    color: #2E577F;
}

/* end of header */
label {
    display: inline-block;
    max-width: 100%;
    /*margin-bottom: 5px;*/
    font-weight: 700;
    font-size: 120%;
}

input {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid grey;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
}

input[type=text]:focus {
    border: 3px solid lightskyblue;
}

.form_div {
    width: 30%;
    padding-top: 50px;
    padding-bottom: 100px;
    position: relative;
    margin: 0 auto;
}

.button {
    background-color: green;
    color: white;
    border: none;
    padding: 12px 32px;
    float: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;

}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* footer */
#footer {
    background: #405580;
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    opacity: 0.9;
}
.question_container #answer_area{
    height: 70%;
    width: 50%;
    clear: both;
}

#footer .copyright {
    text-align: center;
    color: #ccc;
}

#footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #ccc;
}

#footer a {
    color: #5CAEFF;
    font-weight: bold;
}

/*color error messages*/
.alert-danger {
    color: #ff0000;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

/*Display notification to user*/
#message {
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 105;
    text-align: center;
    font-weight: bold;
    font-size: 100%;
    color: white;
    padding: 10px 0 10px 0;
    background-color: #ff0000;
}

#message span {
    text-align: center;
    width: 95%;
    float: left;
}

.close-notify {
    white-space: nowrap;
    float: right;
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
    border: 2px #fff solid;
    padding-left: 3px;
    padding-right: 3px
}

.close-notify a {
    color: #fff;
}

/*for popup*/
.error-notification {
    background-color: #AE0000;
    color: white;
    cursor: pointer;
    display: none;
    padding: 0 15px 15px;
    position: absolute;
    z-index: 1;
    font-size: 100%;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19) !important
}

.error-notification h2 {
    font-family: Trebuchet MS, Helvetica, sans-serif;
    font-size: 140%;
    font-weight: bold;
    margin-bottom: 7px;
}

span.delete {
    color: red;
    float: right;
    cursor: pointer;

}

/*mobile*/
@media only screen and (max-width: 600px) {
    .form_div {
        width: 90%;
        position: relative;
        margin: 50px auto;
    }

    .answers {
        margin-left: 9px;

    }

    .answer {
        margin-top: 10px;
        padding: 11px 23px;
    }
    #menu-icon{
        display: inline-block;
    }
    nav ul, nav:active ul{
        display: none;
        position: absolute;
        padding: 20px;
        background: #405580;
        border: 1px solid #ffffff;
        right: 20px;
        top: 60px;
        width: 50%;
        border-radius: 2px 0 2px 2px;
    }
    nav li{
        text-align: center;
        width: 100%;
        padding: 10px 0;
        margin: 0;
    }
    nav:hover ul{
        display:block ;
    }

}
.answer-show {

}
.require{
    color: red;
}
@media only screen and (max-width: 893px) {
    .form_div {
        width: 70%;
    }
}

.custom-social-proof {
    display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999999999999 !important;
  font-family: 'Open Sans', sans-serif;
}
.custom-social-proof .custom-notification {
  width: 320px;
  border: 0;
  text-align: left;
  z-index: 99999;
  box-sizing: border-box;
  font-weight: 400;
  border-radius: 6px;
  box-shadow: 2px 2px 10px 2px rgba(11, 10, 10, 0.2);
  background-color: #fff;
  position: relative;
  cursor: pointer;
}
.custom-social-proof .custom-notification .custom-notification-container {
  display: flex !important;
  align-items: center;
  height: 80px;
}
.custom-social-proof .custom-notification .custom-notification-container .custom-notification-image-wrapper img {
  max-height: 75px;
  width: 90px;
  overflow: hidden;
  border-radius: 6px 0 0 6px;
  object-fit: cover;
}
.custom-social-proof .custom-notification .custom-notification-container .custom-notification-content-wrapper {
  margin: 0;
  height: 100%;
  color: gray;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 0 6px 6px 0;
  flex: 1;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}
.custom-social-proof .custom-notification .custom-notification-container .custom-notification-content-wrapper .custom-notification-content {
  font-family: inherit !important;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 14px;
  line-height: 16px;
}
.custom-social-proof .custom-notification .custom-notification-container .custom-notification-content-wrapper .custom-notification-content small {
  margin-top: 3px !important;
  display: block !important;
  font-size: 12px !important;
  opacity: .8;
}
.custom-social-proof .custom-notification .custom-close {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 12px;
  width: 12px;
  cursor: pointer;
  transition: .2s ease-in-out;
  transform: rotate(45deg);
  opacity: 0;
}
.custom-social-proof .custom-notification .custom-close::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: gray;
  position: absolute;
  left: 0;
  top: 5px;
}
.custom-social-proof .custom-notification .custom-close::after {
  content: "";
  display: block;
  height: 100%;
  width: 2px;
  background-color: gray;
  position: absolute;
  left: 5px;
  top: 0;
}
.custom-social-proof .custom-notification:hover .custom-close {
  opacity: 1;
}
/*other css*/
.icon-style {
    height: 17px;
    width: 19px;
}

/*confirm css*/
.dialog-ovelay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.50);
    z-index: 999999
}
.dialog-ovelay .dialog {
    width: 400px;
    margin: 100px auto 0;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    border-radius: 3px;
    overflow: hidden
}
.dialog-ovelay .dialog header {
    padding: 10px 8px;
    background-color: #f6f7f9;
    border-bottom: 1px solid #e5e5e5
}
.dialog-ovelay .dialog header h3 {
    font-size: 14px;
    margin: 0;
    color: #555;
    display: inline-block
}
.dialog-ovelay .dialog header .fa-close {
    float: right;
    color: #c4c5c7;
    cursor: pointer;
    transition: all .5s ease;
    padding: 0 2px;
    border-radius: 1px
}
.dialog-ovelay .dialog header .fa-close:hover {
    color: #b9b9b9
}
.dialog-ovelay .dialog header .fa-close:active {
    box-shadow: 0 0 5px #673AB7;
    color: #a2a2a2
}
.dialog-ovelay .dialog .dialog-msg {
    padding: 12px 10px
}
.dialog-ovelay .dialog .dialog-msg p{
    margin: 0;
    font-size: 15px;
    color: #333
}
.dialog-ovelay .dialog footer {
    border-top: 1px solid #e5e5e5;
    padding: 8px 10px
}
.dialog-ovelay .dialog footer .controls {
    direction: rtl
}
.dialog-ovelay .dialog footer .controls .button {
    padding: 5px 15px;
    border-radius: 3px
}
.button {
  cursor: pointer
}
.button-default {
    background-color: rgb(248, 248, 248);
    border: 1px solid rgba(204, 204, 204, 0.5);
    color: #5D5D5D;
}
.button-danger {
    background-color: #f44336;
    border: 1px solid #d32f2f;
    color: #f5f5f5
}
.link {
  padding: 5px 10px;
  cursor: pointer
}
