.container {
    margin-top: 50px;
}

.left_nav {
    float: left;
    background: #cccccc;
    height: 100%;
    width: 16%;
    padding: 10px 0 0 10px;
    border-right: 1px solid #d6d9dc;
    flex-shrink: 0;
    z-index: 0;
    /*position: relative;*/
    box-shadow: 0 0 0 rgba(12, 13, 14, 0.05);
    transition: box-shadow ease-in-out .1s, transform ease-in-out .1s;
    bottom: 0;
    right: 0;
    /*position: fixed;*/
}

.content-nav {
    float: left;
    width: 80%;
    margin: 0 auto;
}

/* styling h1, p, h3 */
.content-nav h3 {
    text-align: center;
    font-size: 180%;
    line-height: 120%;
    color: #405580;
}


/*<div class="frame ctooltip">
  
    <div style="background: #08447F"></div>
  
    <div style="background: #5CAEFF"></div>
  
    <div style="background: #1088FF"></div>
  
    <div style="background: #2E577F"></div>
  
    <div style="background: #0D6DCC"></div>
  
</div>
*/
@media only screen and (max-width: 928px) {
    .left_nav {
        height: 600px;
        width: 20%;
    }

    .content-nav {
        float: left;
        width: 75%;
    }

}
@media only screen and (max-width: 476px) {
    .left_nav {
        height: 60px;
        width: 100%;
    }

    .content-nav {
        float: none;
        width: 95%;
    }
}
