{% extends 'layout.html' %}
{% block title %}
    {{ super() }} | Home
{% endblock %}
{% block content %}
    <div class="question">
        <div class="question_list" id="question_list_id">
        </div>
        <div class="post_question">
            <h2>Post a question</h2>
            <form method="POST" class="form" onsubmit="event.preventDefault();return addQuestion()"
                  name="post_question">
                <div>
                    <label for="subject">Subject</label>
                    <input type="text" id="subject" name="subject" required>
                    <span id="subject_error" class="alert-danger"></span>
                </div>
                <div>
                    <label for="content_question">Question content</label>
                    <textarea id="content_question" name="content_question" required>
                    </textarea>
                    <span id="body_error" class="alert-danger"></span>

                </div>
                <input id="login_error" type="submit" value="Submit">
            </form>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}
{% block js %}
    <script src="../static/js/questions.js"></script>
{% endblock %}