{% extends 'layout.html' %}
{% block title %}
    {{ super() }} | Home
{% endblock %}
{% block content %}
    <div class="question">
        <div class="question_list" id="question_list_id">
        </div>
        <div class="post_question">
            <h2>Post a question</h2>
{#            <form method="POST" class="form" onsubmit="event.preventDefault();return addQuestion()"#}
            <form method="POST" class="form" onsubmit="event.preventDefault();return addQuestion()"
                  name="post_question">
                <div>
                    <label for="subject">Subject</label>
                    <input type="text" id="subject" name="subject" required>
                </div>
                <div>
                    <label for="content_question">Question content</label>
                    <textarea id="content_question" name="content_question" required>

                        </textarea>
                </div>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}
