<!DOCTYPE html>
<html lang="en">
<head>
    <title>Testing with Jasmine</title>
    <link rel="stylesheet" href="../static/js/tests_vanilla/jasmine.css">
    <script src="../static/js/tests_vanilla/jasmine.js"></script>
    <script src="../static/js/tests_vanilla/jasmine-html.js"></script>
    <script src="../static/js/tests_vanilla/boot.js"></script>
    <script src="../static/js/js_packages/jquery.min.js"></script>
    <script src="../static/js/js_packages/jquery-migrate.min.js"></script>
    <script src="../static/js/js_packages/mustache.js"></script>
    <script src="../static/js/js_packages/moment.js"></script>
    <script type="text/javascript" src="../static/js/js_packages/sinon-6.3.4.js"></script>
    <script src="../static/js/user.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/tests_main.js"></script>
</head>
<body>
</body>
</html>