{% extends "layout.html" %}
{% block title %}
    {{ super() }} | profile
{% endblock %}
{% block content %}
    <div class="container">
        <div class="left_nav">
            <div class="score">
                <p>Question asked</p>
                <p id="question_count"></p>
            </div>
            <div class="score">
                <p>Answers given</p>
                <p id="answer_count"></p>
            </div>
        </div>
        <div class="content-nav">
            <h3>Question you asked</h3>
            <div class="question_list" id="question_questions_list">
            </div>

            <template id="user_questions_template">
                {% raw %}
                <div class="question_item" data-id="{{ question_id }}">
                    <h4><a href="/question/{{ question_id }}">{{ question_subject }}</a></h4>
                    <span data-id="{{ question_id }}" class='delete' title='You own this question!!
You can edit or delete'>{{ delete_span }}</span>
                    <span class="question_vote">{{ answers }}</span><span class="votes">Answers</span>
                    <p><a href="/question/{{ question_id }}">{{ question_body }}</a></p>
                    <span class="question_tip">Asked <span class="emphatic-value"
                                                           title="{{ date_posted }}">{{ human_date }}</span>
                                by  <span class="emphatic-value">{{ username }}</span>   </span>
                </div>
                {% endraw %}
            </template>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}
{% block js %}
    <script src="../static/js/profile.js"></script>
{% endblock %}