{% extends "layout.html" %}
{% block title %}
    {{ super() }} | profile
{% endblock %}
{% block content %}
    <div class="container">
        <div class="left_nav">
            <div>
                <p>Question asked</p>
                <p>50</p>
            </div>
            <div>
                <p>Answers given</p>
                <p>120</p>
            </div>
        </div>
        <div class="content-nav">
            <div class="question_most">
                <h3>Question you asked with most answers</h3>
                <div class="question_list">
                    <div class="question_list" id="question_questions_list">
                    </div>

                    <template id="user_questions_template">
                        {% raw %}
                        <div class="question_item" data-id="{{ question_id }}">
                            <h4><a href="/question/{{ question_id }}">{{ question_subject }}</a></h4>
                            <span data-id="{{ question_id }}" class='delete' title='You own this question!!
You can edit or delete'>{{ delete_span }}</span>
                            <span class="question_vote">5</span><span class="votes">Answers</span>
                            <p><a href="/question/{{ question_id }}">{{ question_body }}</a></p>
                            <span class="question_tip">Asked at {{ date_posted }}  by  {{ posted_by }}   </span>
                        </div>
                        {% endraw %}
                    </template>
                </div>
            </div>
            <div class="question_recent">
                <h3>Recent questions you asked</h3>
                <div class="question_list">
                    <div class="question_item">
                        <h4>What are the tags used in html?</h4>
                        <p>This is meant to be a guide to formulating your user stories on pivotal tracker. It is
                            important
                            to
                            note
                            that
                            not all user stories would have all the elements listed e.g **DESIGN Notes**.
                            The structure and an example of a user story are below.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}
{% block js %}
    <script src="../static/js/user.js"></script>
{% endblock %}