{% extends "layout.html" %}
{% block title %}
    {{ super() }} | question
{% endblock %}
{% block content %}
    <div class="container">
        <div class="question_container">
            <div class="question_detail" id="question" data-id="{{ question_id }}">

            </div>
            <div class="answers" id="answers_id">
            </div>
            <!--<form class="form">-->
            <form class="form" onsubmit="event.preventDefault(); return addAnswer()" name="post_answer">

                <h3>Post an answer</h3>
                <textarea id="answer_area" name="answer">This should be an aswer</textarea>
                <span id="answer_error" class="alert-danger"></span>
                <button class="button">Answer</button>
                <span id="login_err" class="alert-danger"></span>
            </form>
        </div>
    </div>
    <script src="../static/js/question_detail.js"></script>

{% endblock %}
