{% extends "layout.html" %}
{% block title %}
    {{ super() }} | question
{% endblock %}
{% block content %}
    <div class="question_container">
        <div class="question_item" id="question" data-id="{{ question_id }}">

        </div>
        <template id="question_detail_template">
            {% raw %}
            <div class="noedit">
                <h3> {{ question_subject }}</h3>
                <button class="delete-question auth" title="Delete question" data-id="{{ question_id }}">X</button>
                <button class="edit-question auth" title="Edit question">edit</button>
                <span class="question_vote">{{ answers_no }}</span><span class="votes">Answers</span>
                <p> {{ question_body }}</p>
                <span class="question_tip">Asked <span class="emphatic-value"
                                                       title="{{ date_posted }}">{{ human_date }}</span> by
                    <span class="emphatic-value">{{ username }}</span></span>
            </div>
            <div class="edit">
                <label for="question_subject_edit">Subject</label>
                <input type="text" name="subject_body" id="question_subject_edit">
                <label>Body</label>
                <textarea name="question_subject" id="question_body_edit"></textarea>
                <input type="submit" name="save" id="update_edit" value="save"/>
                <input type="button" name="cancel" id="cancel_edit" value="cancel"/>
            </div>
            <span class="auth alert-danger" id="question_error"></span>
            {% endraw %}
        </template>
        <div class="answers" id="answers_id">
        </div>
        <template id="answers_template">
            {% raw %}
            <div class="answer" data-id="{{ answer_id }}">
                <div class="noedit">
                    <p>{{answer}}</p>
                    <button class="click-edit-answer auth">Edit</button>
                    <p class="question_tip">Answered <span class="emphatic-value" title="{{ answer_date }}">{{ human_date }}</span>
                        by
                        <span class="emphatic-value">{{ username }}</span></p>
                    <input type="checkbox" class="accept-checkbox">
                    <p><img src="../static/images/icons/tick.png" class="accepted"
                            title="Accepted by who asked"></p>
                </div>
                <div class="edit answer">
                    <label for="answer_edit">Update answer</label>
                    <textarea class="answer-edit"></textarea>
                    <span class="alert-danger" id="answer_edit_error"></span>
                    <button class="answer_edit">save</button>
                    <button class="cancel_answer_edit">cancel</button>
                </div>
            </div>
            {% endraw %}
        </template>
        <form class="form" onsubmit="event.preventDefault(); return addAnswer()" name="post_answer">
            <h3>Post an answer</h3>
            <textarea id="answer_area" name="answer"></textarea>
            <span id="answer_error" class="alert-danger"></span>
            <button class="button">Answer</button>
            <span id="login_err" class="alert-danger"></span>
        </form>
    </div>

{% endblock %}
{% block js %}
    <script src="../static/js/question_detail.js"></script>

{% endblock %}
